<h1>New Team</h1>

<%= render 'form', team: @team %>

<div class="container" style="width: 45px; height: 45px;">
	<%= link_to image_tag("Back2.png", size: "45x45"), teams_path, class: 'back' %>
	<div class="overlay">
		<div class="text"><%= link_to image_tag("Back.png", size: "45x45"), teams_path, class: 'back' %></div>
	</div>
</div>
