¡Bienvenido a CreaTuLiga, <%= @user.full_name %>!
===============================================

Te has registrado correctamente a example.com,
tu nombre de usuario es: <%= @user.username %>

Para ingresar al sitio, solo ingresa a este link:
<a href="https://arcane-fortress-16941.herokuapp.com/session/new">CreaTuLiga</a>.

¡Gracias por unerte y saludos de parte del staff de CreaTuLiga!
