¡Bienvenido a CreaTuLiga, <%= @user.full_name %>!
===============================================

Te has registrado correctamente a "CreaTuLiga.com",
tu nombre de usuario es: <%= @user.username %>

Para ingresar al sitio, haz click en "Login" en la página
<a href="https://arcane-fortress-16941.herokuapp.com">CreaTuLiga</a>.

¡Gracias por unerte y saludos de parte del staff de CreaTuLiga!
