<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>¡Bienvenido a CreaTuLiga, <%= @user.full_name %>!</h1>
    <p>
      Te has registrado correctamente a "CreaTuLiga.com",
      tu nombre de usuario es: <%= @user.username %>.<br>
    </p>
    <p>
      Para ingresar al sitio, haz click en "Login" en la página
      <a href="https://arcane-fortress-16941.herokuapp.com">CreaTuLiga</a>.
    </p>
    <p>¡Gracias por unirte y saludos de parte del staff de CreaTuLiga!</p>
  </body>
</html>
