<h1>Edit Comment</h1>
<%= form_for comment do |c| %>
  <p style="text-align: center;">
    <%= c.text_area :content, placeholder:"Content", required: true %>
  </p>
  <p>
  	<div class="actions" style="text-align: center;">
      <%= c.submit "Edit" %>
    </div>
  </p>
<% end %>