<h1 style="text-align: center;">Edit comment </h1>
<%= form_for([@topic, @comment], remote:true) do |c| %>
  <div style="text-align: center;">
    <%= c.text_area :content,placeholder:"Content", required: true, class:"form-content" %>
  </div>
  <br>
  <div style="text-align: center;">
    <%= c.submit "Update"%>
  </div>
<% end %>

