<h1>Search <i class="fa fa-search"></i></h1>
<% if @teams.length == 0 and @tourneys.length == 0 and @players.length == 0%>
  <div class="not-found"><i class="fa fa-frown-o"></i> No se encontraron resultados con ese nombre </div>
<% end %>

<!-- Teams -->
<% if @teams.length > 0 %>
<h2 style="margin-left: 50px;">Teams</h2>
<table class="tabla">
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>Logo</th>
      <th>Name</th>
      <th>Trainer</th>
      <th>Foundation date</th>
      <th>Owner</th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <%= render 'teams/team_search', team: team %>
    <% end %>
  </tbody>
</table>
<br>
<% end %>

<!-- Tourneys -->
<% if @tourneys.length > 0 %>
<h2 style="margin-left: 50px;">Tourneys</h2>
<table class="tabla">
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>Name</th>
      <th>City</th>
      <th>Location</th>
      <th>Ins. Limit Date</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Mail</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <% @tourneys.each do |tourney| %>
      <%= render 'tourneys/tourney_search', tourney: tourney %>
    <% end %>
  </tbody>
</table>
<br>
<% end %>

<!-- Players -->
<% if @players.length > 0 %>
<h2 style="margin-left: 50px;">Players</h2>
<table class="tabla container-players">
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>Picture</th>
      <th>Name</th>
      <th>Team</th>
      <th>Position</th>
      <th>Mail</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <%= render 'players/player_search', player: player %>
    <% end %>
  </tbody>
</table>
<% end %>
