<h1>Edit topic</h1>
<%= form_for topic do |t| %>
 <p style="text-align: center;">
    <%= t.text_field :title, placeholder:"Tittle", style:"width: 290px;", required: true  %>
  </p>
  <p style="text-align: center;">
    <%= t.text_area :content, placeholder:"Content", required: true %>
  </p>
  <p>
  	<div class="actions" style="text-align: center;">
      <%= t.submit "Edit" %>
    </div>
  </p>
<% end %>