	<%= form_for topic do |t| %>
	 <p>
	    <%= t.text_field :title, placeholder:"Tittle" %>
	  </p>
	  <p>
	    <%= t.text_area :content, placeholder:"Content" %>
	  </p>
	  <p>
	    <%= t.submit "Edit" , class: "submit", id: 'submit'%>
	  </p>
	<% end %>