<%= form_for topic do |t| %>
 <p style="text-align: center;">
    <%= t.text_field :title, placeholder:"Tittle", style:"width: 290px;"  %>
  </p>
  <p style="text-align: center;">
    <%= t.text_area :content, placeholder:"Content" %>
  </p>
  <p>
  	<div class="actions" style="text-align: center;">
      <%= t.submit "Edit" %>
    </div>
  </p>
<% end %>