<h1>Editing topic as  <%= current_user.username %></h1>

<%= render 'form', topic: @topic %>

<%= link_to :back do %>
  <div class="button-back">
    <span class="icon-back"></span>
  </div>
<% end %>