<h1 style="margin-left: 30px;">Brackets</h1>

<div id="tournament">
  <ul class="round round-1">
    <li class="spacer">&nbsp;</li>

    <li class="game game-top winner">A1 <span>0</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">A2 <span>0</span></li>

    <li class="spacer">&nbsp;</li>

    <li class="game game-top winner">A3 <span>0</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">A4 <span>0</span></li>

    <li class="spacer">&nbsp;</li>

    <li class="game game-top ">A5 <span>0</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom winner">A6 <span>0</span></li>

    <li class="spacer">&nbsp;</li>

    <li class="game game-top winner">A7 <span>0</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">A8 <span>0</span></li>

    <li class="spacer">&nbsp;</li>

  </ul>
  <ul class="round round-2">
    <li class="spacer">&nbsp;</li>

    <li class="game game-top winner">B1 <span>0</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">B2 <span>0</span></li>

    <li class="spacer">&nbsp;</li>

    <li class="game game-top winner">B3 <span>0</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">B4 <span>0</span></li>

    <li class="spacer">&nbsp;</li>

  </ul>
  <ul class="round round-3">
    <li class="spacer">&nbsp;</li>

    <li class="game game-top winner">C1 <span>0</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">C2 <span>0</span></li>

    <li class="spacer">&nbsp;</li>

  </ul>
  <ul class="round round-">
    <li class="spacer">&nbsp;</li>
    <li class="game game-top winner">D1 </li>
    <li class="spacer">&nbsp;</li>
  </ul>
</div>
