<div class="muestra" id="tournament" style="width: 100%">
  <ul class="round round-1"><i>Quarter Finals</i>

    <li class="spacer">&nbsp;</li>

    <li class="game game-top winner">A1</li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom "></li>

    <li class="spacer">&nbsp;</li>

    <li class="game game-top winner">A2</li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom "><span></span></li>

    <li class="spacer">&nbsp;</li>

    <li class="game game-top winner">A3</li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom "></li>

    <li class="spacer">&nbsp;</li>

    <li class="game game-top winner">A4</li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom "></li>

    <li class="spacer">&nbsp;</li>

  </ul>
  <ul class="round round-2"><i>Semi Finals</i>
    <li class="spacer">&nbsp;</li>

    <li class="game game-top winner">B1</li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom "></li>

    <li class="spacer">&nbsp;</li>

    <li class="game game-top winner">B3</li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom "></li>

    <li class="spacer">&nbsp;</li>

  </ul>
  <ul class="round round-3"><i>Final</i>
    <li class="spacer">&nbsp;</li>

    <li class="game game-top winner">C1</li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom "></li>

    <li class="spacer">&nbsp;</li>

  </ul>
  <ul class="round round-"><i>Winner</i>
    <li class="spacer">&nbsp;</li>
    <li class="game game-top winner"></li>
    <li class="spacer">&nbsp;</li>
  </ul>
</div>