<table class="tabla container-matches">
  <thead>
    <tr>
      <th>Date</th>
      <th>Home</th>
      <th>Aaway</th>
      <% if @tourney.format == 'Playoffs' %>
        <th>Bracket Code</th>
      <% end %>
      <% if current_user and current_user.id? %>
      <% if current_user.id == @tourney.user.id %>
        <th><i class="fa fa-trash"></i></th>
        <th><i class="fa fa-pencil-square-o"></i></th>
      <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @tourney.matches.each do |match| %>
      <% if match.home_team.present? %>
         <%= render "matches/match_tourney_display", match: match %>
      <% end %>
    <% end %>
  </tbody>
</table>