  <h1>Teams</h1>
  <br>
  <table class="tabla participants" style="margin: auto;">
    <thead>
      <tr>
        <th>Name</th>
        <th>Trainer</th>
        <th><i class="fa fa-link"></i> Profile</th>
        <% if current_user and current_user.id? %>
        <% if current_user.id == @tourney.user.id %>
          <th><i class="fa fa-trash"></i></th>
        <% end %>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @tourney.teams.each do |team| %>
        <%= render 'participants/participant', team: team %> 
      <% end %>
    </tbody>
  </table>
