<div style="display: inline-block; margin-bottom: 10px;">
  <div class="container-flex-weather" style="width: auto">
		<div class="child-flex-weather">
			<div>
				<%= image_tag 'Wunderground-icon.png', style: "width: 100px; height:auto;"  %>
			</div>
		</div>
		<div class="child-flex-weather" style="padding-left: 20px;">
			<div class="container-flex-weather">
				<i class="wu wu-white wu-64 wu-<%= @weather.icon %>"></i>
				<div class="child-flex-weather-temp">
				<%= @weather.temp %>°C
				</div>
			</div>
			<div style="text-align: center;">
  			<%= @weather.ciudad %>
  		</div>
		</div>
 	</div>
</div>