<h1>Editing Tourney</h1>

<%= render 'form', tourney: @tourney %>

<div class="container" style="width: 45px; height: 45px;">
	<%= link_to image_tag("Back2.png", size: "45x45"), tourneys_path, class: 'back' %>
	<div class="overlay">
		<div class="text"><%= link_to image_tag("Back.png", size: "45x45"), tourneys_path, class: 'back' %></div>
	</div>
</div>