<table class="perfil">
  <tr>
    <td class="subject">Full Name:</td>
    <td class="value"><%=@user.full_name %></td>
  </tr>
  <tr>
    <td class="subject">Email:</td>
    <td class="value"><%=@user.email%></td>
  </tr>
  <tr>
    <td class="subject">Username:</td>
    <td class="value"><%=@user.username%></td>
  </tr>
  <!-- <% if current_user %>
    <% if current_user.id == @user.id %>
      <tr>
        <td class="subject">Token:</td>
        <td class="value"><%=@user.token%></td>
      </tr>
    <% end %>
  <% end %> -->
</table>
