<div class="video">
	<%= youtube_video "http://www.youtube.com/embed/E-SPGjFqH3A" %>
</div>

<iframe frameborder="0" height="315" scrolling="no" src="http://www.youtube.com/embed/GWwsd5APlgw" width="420">​</iframe><br>

<iframe width="490" height="275" src="http://www.youtube.com/embed/E-GWwsd5APlgw" frameborder="0" allowfullscreen></iframe>