<br>
<div class="titulo-welcome">
	<h1> ¡Bienvenido a CreaTuLiga!</h1>
</div>
<div class="texto-welcome">
	<span>		Nuestro sitio tiene una meta muy sencilla:
	darte todas las facilidades para que puedas manejar el curso de un torneo de futbol local, para poner al tanto a todos sus participantes!
	</span>
</div>
<div class="subtitulo-welcome one"><h2> Cómo empezar... </h2></div>
<div class="texto-welcome">
	<span> Crea una cuenta en nuestro sitio (usando la botón "Sign up" al lado derecho de tu pantalla), ingresa tus datos y empieza a crear y organizar tus ligas y/o torneos de futbol que quieras
	 Posteriormente, podrás cambiar datos en tu perfil si así lo decides, incluyendo cambiar tu imagen de perfil</span>
</div>
<div class="subtitulo-welcome two"><h2> Registra tu/s equipo/s de futbol </h2></div>
<div class="texto-welcome">
 <span>Presiona el botón "+Team" al costado derecho para registrar un equipo al que pertenezcas o manejes. Posteriormente, podrás ingresar los jugadores de este en el perfil del equipo.
</span>
</div>
<div class="subtitulo-welcome three"><h2> Crea tu propia liga de futbol </h2></div>
<div class="texto-welcome">
 <span> Presiona el botón "+Tourney" para crear tu propia liga de futbol! Podrás seleccionar entre 2 modalidades:
<ul>Torneo/Play offs: Con brackets de 8 equipos</ul>
<ul>Liga/por puntajes: </ul>
</span>
</div>
<br><br>
<div class="video">
	<%= video_tag "chile.mp4", :size => "490x275", :controls => true %>
</div> 
<br>