<br>
<div class="titulo-welcome">
	<h1> ¡Bienvenido a CreaTuLiga!</h1>
</div>
<div class="texto-welcome">
	<span>		Nuestro sitio tiene una meta muy sencilla:
	darte todas las facilidades para que puedas manejar el curso de un torneo de futbol local, registrar el progreso de este ¡y así informar fácilmente a todos sus participantes!
	</span>
</div>
<div class="subtitulo-welcome one"><h2> "¿Pero por dónde empiezo?" </h2></div>
<div class="texto-welcome">
	<span> ¡Fácil! Crea una cuenta en nuestro sitio (usando el botón <b>"Sign up"</b> al costado derecho de tu pantalla), ingresa los datos que se te soliciten y empieza a crear y organizar tus ligas y/o torneos de futbol que quieras
	 Posteriormente, podrás cambiar datos en tu perfil si así lo decides, incluyendo cambiar tu imagen de perfil.</span>
</div>
<div class="subtitulo-welcome two"><h2> ¡Registra tus equipos de futbol! </h2></div>
<div class="texto-welcome">
 <span>Para registrar algún equipo al que pertenezcas, presiona el botón <b>"+Team"</b> al costado derecho, donde en un formulario tendrás que agregar los datos que se te pidan ¡Podrás incluso agregar el logo de tu equipo!
	   Posteriormente, podrás ingresar los jugadores del mismo equipo en el perfil de este, al final de la página de información, presionado en el botón con un más (<%= image_tag("Add4.png", size: "20x20") %>).
</span>
</div>
<div class="subtitulo-welcome three"><h2> ¡Crea tu propia liga de futbol! </h2></div>
<div class="texto-welcome">
 <span> Presiona el botón <b>"+Tourney"</b> para crear tu propia liga de futbol! Podrás seleccionar entre 2 modalidades:
<ul>
	<li><b>Torneo/Play offs:</b> Con brackets de 8 equipos. Dentro de la página, podrás armar los partidos que se quieran realizar, seleccionado el bracket correspondiente al diagrama a la derecha.</li>
  <li><b>Liga/por puntajes:</b> Cada partido vale puntos para cada equipo: 3 puntos para el ganador y 1 punto para cada equipo en caso de empate.</li>
</ul>
 Para crear un partido deben tener al menos 2 equipos agregados como participantes en tu torneo. Luego, puedes seleccionarlos para formar un partido. Con el partido creado, cuando estimes conveniente, puedes editar los resultados e indicar cuando el partido está terminado indicando su estado.
 ¡Podrías incluso saber el clima del día en que revisas el perfil de información de los torneos disponibles!
</span>
</div>
<br><br>
<div class="video">
	<%= video_tag "chile.mp4", :size => "490x275", :controls => true %>
</div>
<br>
