<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'articles' %>   
If you want to link to an action in the same controller, 
you don't need to specify the :controller option, as Rails will use the current controller by default.