<h1>New player</h1>

<%= render 'form' %>

<% @team = Team.find(params[:team_id]) %>

<%= link_to team_path(@team) do %>
  <div class="button-back">
    <span class="icon-back"></span>
  </div>
<% end %>