<h1>Info</h1>
<br>
<div class="info-player">
  <%= render "info_player" %>
</div>
<br>
<% if current_user %>
  <% if current_user.id == @player.team.user.id %>
    <%= link_to(edit_team_player_path(@player.team, @player), remote: true) do %>
      <div class="button-current edit centered"><span class=icon-pencil2></span></div>
    <% end %>
  <% end %>
<% end %>
<%= link_to team_path(@player.team) do %>
  <div class="button-back">
    <span class="icon-back"></span>
  </div>
<% end %>

<!-- Edit player-->
<div class="modal-background edit-player">
  <div class="container-edit-player">
    <div class="close">
      <span class=icon-delete></span>
    </div>
    <h1>Edit Player</h1>
    <br>
    <div class="edit-info-player">
    </div>
    <br>
  </div>
</div>
