/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require icons
 *= require_tree .
 *= require_self
 */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/* Arreglar links */
a, a:visited {
  color: #FFD700;
  outline: none;
  text-decoration: none;
  font-weight: bolder;
}

a:hover {
  color: white;
  background-color: transparent;
}

/* Notificaciones */
#notice {
  background-color: #fff;
  font-weight: bolder;
  padding: 0px 10px;
  margin: 1px;
  border-radius: 10px;
  border-bottom: 2px solid #FFD700;
  border-top: 2px solid #FFD700;
  border-left: 2px solid #FFD700;
  border-right: 2px solid #FFD700;
  text-align:center;
}

#error_explanation {
  color: #000;
  font-weight: bolder;
  border-radius: 5px;
}

/* Generales */

header {
    background-image: url('Fondo.jpg');
    border: 5px solid #FFD700;
    border-bottom: none;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

body, head{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

main {
  background-image: url('Fondo.jpg');
  padding: 10px;
  border: 5px solid #FFD700;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;

}

.titulo {
    text-align: center;
    font-weight: bolder;
}

#container-logo {
    text-align: center;
}


#project{
    text-align: center;
    color: black;
}

/* Titulos */
h1, h2 {
  color: #FFD700;
  font-weight: bolder;
  clear: both;
}

/* Botones generales, textarea y logo*/
.logo, .logo:hover, .logo:active{
    text-decoration: none;
    border: none;
    background: none;
    text-align: center;
    clear: both;
}

.button,.button:visited{
    display:inline-block;
    background-color: #FFD700;
    border: none;
    color: black;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 5px;
}

.button:hover, .button:visited:hover{
    display:inline-block;
    background-color: black;
    border: none;
    color: #FFD700;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    margin: 0;
}

.buttont, .buttont:visited {
    border: none;
    color: #FFD700;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
}

.buttont:hover {
    color: #fff;
    background-color: transparent;
}

textarea {
    width: 300px;
    height: 60px;
    overflow: auto;
}

textarea:focus{
    box-shadow: 0 0 4px #FFD700;
}

/* Botones submit */
input[type='submit'] {
  display: inline-block;
  border-radius: 4px;
  background-color: black;
  border: none;
  color: #FFD700;
  text-align: center;
  font-size: 16px;
  padding: 15px 30px;
  font-weight: bolder;
}

input[type='submit']:hover {
  background-color: #FFD700;
  color: black;
  cursor:pointer;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    gray;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    gray;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    gray;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    gray;
}

/* Efectos para botones edit, borrar y back */
.cruzedit {
    text-align: center;
    display: block;
}

.cruzedit:hover {
    background: none;
}

a.back, a.back:hover{
  text-decoration: none;
  background: none;
  height: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.overlay, .overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  border-radius: 30px;
  background-color: #FFD700;
}

.overlay2 {
  border-radius: 10px;
}

.container:hover .overlay, .container:hover .overlay2 {
  opacity: 1;
}

.text a{
  color: black;
  background-color:transparent;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Efectos de las tablas */
.tabla {
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
  color: black;
}

.tabla tbody tr{
  display: table-row;
  background: #f6f6f6;
}

.tabla tbody tr:hover{
  background-color: #FFD700;
  cursor: pointer;
}

.tabla tbody tr#no-link:hover {
  background-color: #f6f6f6;
  cursor: default;
}

.tabla thead{
  background: black;
  color: #FFD700;
}

.tabla td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

/* Efectos de las tablas perfil */
.perfil{
  width: 60%;
  margin:0 auto;
  border-collapse: collapse;
  border-top: none;
  color: black;
}

.perfil td {
  padding: 30px;
  text-align: center;
}
.perfil .subject{
  background-color: black;
  color: #FFD700;
  font-weight: bolder;
  font-size: 18px;
  text-align: left;
  width: 30%;
  border-top: 1px solid #FFD700;
  border-bottom: 1px solid #FFD700;
}

.perfil .value {
  background-color: #f6f6f6;  
  font-weight: bolder;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

/* Efectos de las tablas perfil torneos */

.perfil-torneo{
  width: 90%;
  margin:0 auto;
  border-collapse: collapse;
  border-top: none;
  color: black;
}

.perfil-torneo td {
  padding: 10px;
  text-align: center;
}
.perfil-torneo .subject{
  background-color: black;
  color: #FFD700;
  font-weight: bolder;
  font-size: 16px;
  text-align: left;
  width: 30%;
  border-top: 1px solid #FFD700;
  border-bottom: 1px solid #FFD700;
}
.perfil-torneo .value {
  background-color: #f6f6f6;
  font-weight: bolder;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.value#cell-link a{
  color: black;
  padding:0;
  text-decoration: none;
}

.value#cell-link:hover {
  background-color: #FFD700;
  color: #000;
}

/* Efectos para listas */

.lista{
  width: 80%;
  margin: 0  auto;
  font-weight: bolder;
  color: white;
}

.lista ol{
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  font: 16px;
  padding: 0;
  margin-bottom: 4em;
}

.lista ol ol{
    margin: 0 0 0 2em;
}

.lista a{
    color: white;
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    text-decoration: none;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
}

.lista a:visited{
    text-decoration: none;
    color: white;
}

.lista a:hover {
    background: #FFD700;
    text-decoration: none;
    color:black;
}
.lista a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: black;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .2em solid #FFD700;
    text-align: center;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    color: #FFD700;
}

/*Efectos para elemento de creacion comentarios y topics movil*/
/* tambien para visualización de topics y comentarios */
.fixme {
  position: absolute;
  top: 400px;
  right: 12%;
}
.container-flex{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.left {
  flex-basis:60%;
}
.right {
  flex-basis: 40%;
}

.info {
  margin-left: 40px;
}

.comment, .topic {
    border-bottom: 2px solid gray;
 }

/* Para show torneos */
.left#info, .right#info {
  flex-basis:50%;
}

.right#tabla, .left#tabla {
  flex-basis:50%;
}

#info {
  margin-left: 40px;
}

 /* Fotos de perfil*/
.fotoperfil {
  border: 3px solid #FFD700;
  border-radius: 500px;
  -moz-border-radius: 500px;
  -webkit-border-radius: 500px;
  height: 200px;
  width: 200px;
  overflow: hidden;
  margin: 0 auto;
}

.fotomedium {
  height: 200px;
  width: 200px;
}

.fotothumb {
  height: 50px;
  width: 50px;
}

/* barra social y barra de usuario */
.social {
  position: fixed;
  left: 0px;
  top: 100px;
  z-index: 2000;
}

.user-bar{
  position: fixed;
  right:0;
  top: 150px;
  z-index: 2000;
}

.social ul, .user-bar ul {
  list-style:none;
  margin:0;
  padding: 0;
}

.social ul li a {
  display: inline-block;
  color: #fff;
  font-weight: bolder;
  padding:25px 35px;
  text-decoration: none;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.social ul li a.icon-facebook {
  background-color: #3b5998;
  border-top-right-radius: 5px;
}

.social ul li a.icon-twitter {
  background-color: #00abf0;
}

.social ul li a.icon-twitch {
  background-color: #8b1f66;
}


.social ul li a.icon-spotify {
  background-color: #00ae58;
}

.social ul li a.icon-soundcloud {
  background-color: #ec6e06;
}

.social ul li a.icon-youtube {
  background-color: #ee0606;
  border-bottom-right-radius: 5px;
}

.social ul li a:hover {
  padding:25px 50px;
  background-color: #000;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.user-bar ul li .user-button {
  padding: 2px;
  float: right;
  height:60px;
  width: 110px;
  background-color: #FFD700;
  font-weight: bolder;
  font-size: 12px;
  color: #000;
  clear:both;
  line-height: 58px;
  text-align: center;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  border-left: 2px solid #000;
  text-align: left;
  padding-left: 10px;
}

.user-bar ul li .user-button span{
  padding-right: 5px;
  font-weight: bolder;
 }

.user-bar ul li .user-button#log {
  border-bottom-left-radius: 5px;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
}

.user-bar ul li .user-button#sign-up,
.user-bar ul li .user-button#profile {
  border-top-left-radius: 5px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
}

.user-bar ul li .user-button:hover{
  color: #FFD700;
  background-color: #000;
  width: 125px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

/* boton de volver arriba */
.go-up{
  display: none;
  padding: 20px;
  background: #FFD700;
  font-size: 25px;
  font-weight: bold;
  color: #000;
  cursor:pointer;
  position: fixed;
  border-radius: 5px;
  bottom:0;
  right:0px;
}

/* Edit match container*/

.container-edit-match {
  width: 600px; 
  margin: 0 auto; 
  padding:10px;
  border-radius: 5px;
  border: 5px solid #FFD700;
  background: #000;
}

.container-edit-match .attr {
  border-radius: 5px;
  border: 5px solid #FFD700;
  background: #FFD700;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #000;
}

/* Brackets*/

#tournament{
  display:flex;
  flex-direction:row;
}
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:200px;
  list-style:none;
  padding:0;
}
.round .spacer{ flex-grow:1; }
.round .spacer:first-child,
.round .spacer:last-child{ flex-grow:.5; }

.round .game-spacer{
  flex-grow:1;
}

li.game{
  padding-left:20px;
}

li.game.winner{
  font-weight:bold;
  color:#FFD700;
}
li.game span{
  float:right;
  margin-right:5px;
}

li.game-top{ border-bottom:1px solid #aaa; }

li.game-spacer{ 
  border-right:1px solid #aaa;
  min-height:40px;
}

li.game-bottom{ 
  border-top:1px solid #aaa;
}
