/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


header {
    background-image: url('Fondo.jpg');
}

#main-menu {
    text-align: center;
}


#titulo {
    text-align: center;
    font-weight: bolder;
}

#container-logo {
    text-align: center;
}


#project{
    text-align: center;
}

.logo, .logo:hover, .logo:active{    
    text-decoration: none;
    border: none;
    background: none;
    text-align: center;
    clear: both;
}


.button,.button:visited{
    display:inline-block;
    background-color: #FFD700; 
    border: none;
    color: black;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
}

.button:hover, .button:visited:hover{
    display:inline-block;
    background-color: black; 
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
}

.buttonl, .buttonl:visited{
    background-color: #FFD700;
    border: none;
    color: black;
    text-decoration: none;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    font-weight: bolder;
}

.buttonl:hover, .buttonl:visited:hover{
    background-color: black;
    border: none;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    font-weight: bolder;
}


.buttont, .buttont:visited {
    border: none;
    color: #FFD700;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
}

.buttont:hover {
    color: white ;
    background-color: transparent;
}
