/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require icons
 *= require_tree .
 *= require_self
 */

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

header {
    background-image: url('Fondo.jpg');
    border: 5px solid #FFD700;
    border-bottom: none;
  }

body, head{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

main {
  background-image: url('Fondo.jpg');
  padding: 10px;
  border: 5px solid #FFD700;
}

#titulo {
    text-align: center;
    font-weight: bolder;
}

#container-logo {
    text-align: center;
}


#project{
    text-align: center;
    color: black;
}

/* Titulos */
h1, h2 {
  color: #FFD700;
  font-weight: bolder;
}

/* Botones generales, textarea y logo*/
.logo, .logo:hover, .logo:active{    
    text-decoration: none;
    border: none;
    background: none;
    text-align: center;
    clear: both;
}

.button,.button:visited{
    display:inline-block;
    background-color: #FFD700; 
    border: none;
    color: black;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
}

.button:hover, .button:visited:hover{
    display:inline-block;
    background-color: black; 
    border: none;
    color: #FFD700;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    margin: 0;
}

.buttonl, .buttonl:visited{
    background-color: #FFD700;
    border: none;
    color: black;
    text-decoration: none;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    font-weight: bolder;
}

.buttonl:hover, .buttonl:visited:hover{
    background-color: black;
    border: none;
    color: #FFD700;
    text-decoration: none;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    font-weight: bolder;
}


.buttont, .buttont:visited {
    border: none;
    color: #FFD700;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
}

.buttont:hover {
    color: gray;
    background-color: transparent;
}

textarea {
    width: 300px;
    height: 60px;
    overflow: auto;
}

textarea:focus{
    box-shadow: 0 0 4px #FFD700;
}

/* Botones submit */
input[type='submit'] {
  display: inline-block;
  border-radius: 4px;
  background-color: black;
  border: none;
  color: #FFD700;
  text-align: center;
  font-size: 16px;
  padding: 15px 30px;
  font-weight: bolder;
}

input[type='submit']:hover {
  background-color: #FFD700;
  color: black;
  cursor:pointer;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    gray;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    gray;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    gray;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    gray;
}

/* Efectos para botones edit, borrar y back */
.cruzedit {    
    text-align: center;
    display: block;
}

.cruzedit:hover {
    background: none;
}

a.back, a.back:hover{
  text-decoration: none;
  background: none;
  height: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.overlay, .overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  border-radius: 30px;
  background-color: #FFD700;
}

.overlay2 {
  border-radius: 10px;
}

.container:hover .overlay, .container:hover .overlay2 {
  opacity: 1;
}

.text a{
  color: black;
  background-color:transparent;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Efectos de las tablas */
.tabla {
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;  
  color: black;
}

.tabla tbody tr{
  display: table-row;
  background: #f6f6f6;  
}

.tabla tbody tr:hover{
  background-color: #FFD700;
  cursor: pointer;
}


.tabla thead{
  background: black;
  color: #FFD700;
}

.tabla td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

/* Efectos de las tablas perfil */
.perfil{
  width: 60%;  
  margin:0 auto;
  border-collapse: collapse; 
  border-top: none;
  color: black;
}

.perfil td {
  padding: 30px;
  text-align: center;
}
.perfil .subject{
  background-color: black;  
  color: #FFD700;
  font-weight: bolder;
  font-size: 18px;
  text-align: left;
  width: 30%;
  border-top: 1px solid #FFD700;
  border-bottom: 1px solid #FFD700;
}
.perfil .value {
  background-color: #f6f6f6;  
  font-weight: bolder;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

/* Efectos para listas */

.lista{
  width: 80%;
  margin: 0  auto;
  font-weight: bolder;
  color: white;
}

.lista ol{
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  font: 16px;
  padding: 0;
  margin-bottom: 4em;
}

.lista ol ol{
    margin: 0 0 0 2em;
}

.lista a{
    color: white;
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    text-decoration: none;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
}

.lista a:visited{
    text-decoration: none;
    color: white;
}

.lista a:hover {
    background: #FFD700;
    text-decoration: none;
    color:black;
}
.lista a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: black;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .2em solid #FFD700;
    text-align: center;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    color: #FFD700;
}

/*Efectos para elemento de comentario movil*/
.fixme {
  position: absolute;
  top: 475px;
  right: 12%;
}
.container-flex{
  display: flex;
  align-items: stretch;
}

.left {
  width: 65%;
  float: left;
  flex: 1
}

.right {
  float: right;
  display: flex;
  width: 35%;
  background: url('Fondo.jpg');
  flex: 1
  border: 5px solid #FFD700;
}

.fixer{
  clear: both;
}
.comment, .topic {
    border-bottom: 2px solid gray; 
 }

 /* Fotos de perfil*/

.fotoperfil {
    border: 3px solid #FFD700;
    border-radius: 500px;
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin: 0 auto;
}

.fotonav {
    border: 1px solid #FFD700;
    border-radius: 500px;
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
    height: 50px;
    width: 50px;
    overflow: hidden;
}
.fotomedium {
  height: 200px;
  width: 200px;
}

.fotothumb {
  height: 50px;
  width: 50px;
}

/* barra social */
.social {
  position: fixed;
  left: 0px;
  top: 150px;
  z-index: 2000;
}

.social ul {
  list-style:none;
  margin:0;
  padding: 0;
}

.social ul li a {
  display: inline-block;
  color: #fff;
  padding:15px 20px;
  text-decoration: none;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.social ul li a.icon-facebook {
  background-color: #3b5998;
  border-top-right-radius: 5px;
}

.social ul li a.icon-twitter {
  background-color: #00abf0; 
}

.social ul li a.icon-twitch {
  background-color: #8b1f66;
}


.social ul li a.icon-spotify {
  background-color: #00ae58;
}

.social ul li a.icon-soundcloud {
  background-color: #ec6e06;
}

.social ul li a.icon-youtube {
  background-color: #ee0606;
  border-bottom-right-radius: 5px;
}

.social ul li a:hover {
  padding:15px 35px;
  background-color: #000;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}